<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="3" name="Test" parallel="methods">
    <packages>
      <package name="Automation.Automation"/>
    </packages>
  </test> <!-- Test -->
  <test name="AppTest">
  	<classes>
  		<class name = "Automation.Automation.AppTest"/>
  	</classes>
  </test>
 </suite> <!-- Suite -->
